@import "varible";
body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryColor;
    .container{
        box-shadow: $formShadow;
        display: flex;
        flex-direction: column;
        direction: rtl;
        padding: 10px 25px;
        background-color: $whiteColor;
    }
}
